@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@600;700&family=Roboto&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding:0;
  background-color: #01161D;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
nav{
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: 7% 8% 7% 7%;
  padding: 2%;
  color: white;
}
.first-block{
  display: grid;
  grid-template-rows: 30% 20% 10%;
  padding: 2%;
  height: 100vh;
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;

}
.nav-item{
  transition-duration: 30s;
}
.nav-item:hover{
  border-bottom: 2px solid white
}
.nav-item:hover{
  border-bottom:2px solid white;
}
.name{
  font-size: 8rem;
  line-height: 2rem;
  font-family: 'Palanquin', sans-serif;
}
.name-group{
  display: flex;
  align-self: center;  
  
}
.softeng{
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.icon{
  padding-left: 1%;
  align-self: center;
}
#About{
  height: 100vh;
  display: grid;
  grid-template-rows: 30% 70%;
}
.about{
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: 25% 75%;
}
.about-me{
  font-size: 2.5rem
}
.about-div{
  display:grid;
  text-align: center;
  align-content: center;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 3%;
}
.about-image1{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  background-image: url(./images/creative.jpg)
}
.about-image2{
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  background-image: url(./images/trail.jpg)
}
.about-image3{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  background-image: url(./images/fire.jpg);
}
#Skills {
  display: flex;
  flex-direction: row;
}
.github, .js, .css, .html, .post, .node{
  background-image: url(/images/git.png);
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.js {
  background-image: url(/images/js.png)
}

.css {
  background-image: url(/images/css.png);
}

.html {
  background-image: url(/images/html.png);
}
.post {
  background-image: url(/images/post.png);
}
.node {
  background-image: url(/images/node.png);
}